<section class="py-5">
    <div class="cart-container">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {{#each guitars as |guitar|}}
                {{>singleguitar guitar}}
            {{/each}}
        </div>
    </div>
</section>