<form class="login-form">
  <div class="email-input">
    <label class="align-email" for="email-login">Email:</label>
    <input class="input" type="text" id="email-login" />
  </div>
  <div class="pw-input">
    <label class="align-pw" for="password-login">Password:</label>
    <input class="input" type="password" id="password-login" />
  </div>
  <div class="btn-div">
    <button class="login-btn" type="submit">Login</button>
  </div>
</form>

<script src="/javascript/login.js"></script>