<form class="sell-form">
  <div>
    <label for="guitar-type">Choose a type:</label>
    <select id="guitar-type">
        <option value="acoustic">Acoustic Guitar</option>
        <option value="electric">Electric Guitar</option>
        <option value="bass">Bass</option>
    </select>

    <label for="guitar-brand">Enter the brand of the guitar:</label>
    <input type="text" id="guitar-brand" />

    <label for="comment_text">Enter a desription of the guitar</label>
    <input type="text" id="comment_text" />

    <label for="price">Your ask for the price</label>
    <input type="number" id="price" min="0.01"/>
  </div>
  
  <div>
    <button type="submit" id="sell-button">Look for a new owner!</button>
  </div>
</form>

<script src="/javascript/sell.js"></script>