<form class="signup-form">
  <div class="email-input">
    <label class="align-email" for="email-signup">Email:</label>
    <input class="input" type="text" id="email-signup" />
  </div>
  <div class="user-input">
    <label class="align-user" for="username-signup">Username:</label>
    <input class="input" type="text" id="username-signup" />
  </div>
  <div class="pw-input">
    <label class="align-pw" for="password-signup">Password:</label>
    <input class="input" type="password" id="password-signup" />
  </div>
  <div class="btn-div">
    <button class="signup-btn" type="submit">Signup</button>
  </div>
</form>

<script src="/javascript/signup.js"></script>